mat-card {
  max-width: 800px;
  margin: 2rem auto;
}

mat-card-header {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-card-title {
    font-size: 2.5rem;
}

mat-card-subtitle {
  display:flex;
  margin-top : 25px;
  justify-content: center;
  gap: 8px;
  color: var(--mat-sys-on-surface);
  font-size: 2rem;
  font-weight: 700;
  transition: color 0.3s ease;

  &.negative {
    color: var(--mat-sys-error);
  }
}

mat-card-actions {
  display: flex;
  justify-content: center;
  gap: 8px;
}